{% macro bullet(category) %}
    <span class="{{ "bullet"|clsx(category) }}" title="{{ category }}">&#x2756;</span>
{% endmacro %}

{% macro header(first_column = "") %}
    <thead>
    <tr>
        <th>{{ first_column }}</th>
        {% for rn in report_names %}
            <th class="{{ "text-center"|clsx(reference=rn.is_reference) }}">
                <a href="{{ rn.pivot_href }}" class="no-visited">{{ rn.title }}</a>
            </th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro table_section(title, help=None) %}
    <!-- region {{ title }} Section -->
    <tr class="section-header">
        <td>
            {%- if help -%}
                <abbr class="help" title="{{ help }}">{{ title }}</abbr>
            {%- else -%}
                {{- title -}}
            {%- endif -%}
        </td>
        <td colspan="{{ report_names|length }}"></td>
    </tr>
    {{ caller() }}
    <!-- endregion -->
{% endmacro %}

{% macro metrics_row(title, values) %}
    <tr>
        <td>{{ title }}</td>
        {% for value in values %}
            <td class="text-right">{{ caller(value) }}</td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro metrics_row_s(title, values) %}
    {% call(value) metrics_row(title, values) %}{{ value }}{% endcall %}
{% endmacro %}

{% macro metrics_row_with_trends(title, values, trends) %}
    {% call(t) metrics_row(title, zip(values, trends)) %}
        {% set value, trend = t %}
        {%- if trend -%}
            {%- if value is none -%}
                &mdash;
            {%- else -%}
                {{- value|timedeltaformat -}}
            {%- endif -%}
            <span class="{{ "trend"|clsx(trend.color_class) }}">
                {%- if trend.ratio != 0.0 -%}
                    {{ trend.symbol }}&nbsp;{{ trend.percentage }}
                {%- else -%}
                    {{ trend.symbol }}
                {%- endif -%}
            </span>
        {%- else -%}
            &mdash;
        {%- endif -%}
    {% endcall %}
{% endmacro %}

{% macro timing_row(timing_row) %}
    <tr>
        <td>
            {{- timing_row.project -}}
            {% if timing_row.uniform_rev %}
                <span class="font-normal text-dim">({{ timing_row.uniform_rev }})</span>
            {% endif %}
        </td>
        {% for cell in timing_row.cells %}
            <td class="text-right">
                {%- if cell.trend -%}
                    {%- if cell.value is none -%}
                        &mdash;
                    {%- else -%}
                        {{- cell.value|timedeltaformat -}}
                    {%- endif -%}
                    <span class="{{ "trend"|clsx(cell.trend.color_class) }}">
                        {%- if cell.trend.ratio != 0.0 -%}
                            {{ cell.trend.symbol }}&nbsp;{{ cell.trend.percentage }}
                        {%- else -%}
                            {{ cell.trend.symbol }}
                        {%- endif -%}
                    </span>
                    {% if not timing_row.uniform_rev and cell.rev %}
                        <br/>
                        <span class="text-sm text-dim">({{ cell.rev }})</span>
                    {% endif %}
                {%- else -%}
                    &mdash;
                    {% if not timing_row.uniform_rev and cell.rev %}
                        <br/>
                        <span class="text-sm text-dim">({{ cell.rev }})</span>
                    {% endif %}
                {%- endif -%}
            </td>
        {% endfor %}
    </tr>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Ma'at</title>
    <link rel="icon" href="_assets/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="_assets/style.css">
    <script type="module">
        import {setupDetailsMemory, setupAltClickOnSummaries} from './_assets/details.js';

        document.addEventListener('DOMContentLoaded', () => {
            setupDetailsMemory();
            setupAltClickOnSummaries();
        });
    </script>
</head>
<body>
<header>
    <h1>Ma'at</h1>
    <ul id="slices">
        {% for slice in slices %}
            <li>
                <a href="{{ slice.href }}"
                   class="{{ "button"|clsx(current=slice.is_current) }}">
                    {{- slice.title -}}
                </a>
            </li>
        {% endfor %}
    </ul>
</header>
<main>
    <details id="details-metrics" open>
        <summary class="font-bold">Metrics</summary>
        <table>
            {{ header() }}
            <tbody>
            {% call table_section("Metadata") %}
                {{ metrics_row_s("Workspace", metrics.workspace) }}
                {{ metrics_row_s("Scarb Version", metrics.scarb_version) }}
                {{ metrics_row_s("Foundry Version", metrics.foundry_version) }}
                {{ metrics_row_s("Ma'at Commit", metrics.maat_commit) }}
                {% call(value) metrics_row("Created At", metrics.created_at) %}
                    {{ value|datetimeformat }}
                {% endcall %}
                {{ metrics_row_with_trends(
                    "Total Execution Time",
                    metrics.total_execution_time,
                    metrics_trends.total_execution_time
                ) }}
                {{ metrics_row_s("Total Projects", metrics.total_projects) }}
            {% endcall %}
            </tbody>
        </table>
    </details>
    {% for label_group in label_groups %}
        <details id="details-{{ label_group.category }}"
                 class="{{ "color-coded"|clsx(label_group.category) }}">
            <summary>
                <abbr class="help font-bold"
                      title="{{ label_group.category.help }}">{{ label_group.category }}</abbr>
                ({{ label_group.count }},
                <abbr class="help"
                      title="Relative to total projects in reference column.">{{ (label_group.ratio * 100)|round(2) }}%</abbr>)
            </summary>
            <table>
                {{ header("Project") }}
                <tbody>
                {% for row in label_group.rows %}
                    <tr>
                        <td>
                            {{- row.project -}}
                            {% if row.uniform_rev %}
                                <span class="font-normal text-dim">({{ row.uniform_rev }})</span>
                            {% endif %}
                        </td>
                        {% for cell in row.cells %}
                            <td class="text-center">
                                {% if cell.missing and cell.logs_href %}
                                    <a href="{{ cell.logs.href }}">&mdash;</a>
                                {% elif cell.missing %}
                                    &mdash;
                                {% else %}
                                    {{ bullet(cell.label.category) }}
                                    <a href="{{ cell.logs_href }}">
                                        {{- cell.label.comment or cell.label.category -}}
                                    </a>
                                {% endif %}
                                {% if not row.uniform_rev %}
                                    <br/>
                                    <span class="text-sm text-dim">({{ cell.rev }})</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}
    {% for human_step in ["Build", "Lint", "Test", "LS"] %}
        {% set step = human_step|lower %}
        <details id="details-timings-{{ step }}">
            <summary>
                <abbr class="help font-bold"
                      title="Execution time information for {{ step }} steps. Only successful runs are considered, i.e. ones for which the exit code is 0.">
                    {{- "%s Timings" % human_step -}}
                </abbr>
            </summary>
            <table>
                {{ header() }}
                <tbody>
                {% call table_section("Summary") %}
                    {{ metrics_row_with_trends(
                        "Successful Runs Mean",
                        metrics["mean_%s_time" % step],
                        metrics_trends["mean_%s_time" % step]
                    ) }}
                    {{ metrics_row_with_trends(
                        "Successful Runs Median",
                        metrics["median_%s_time" % step],
                        metrics_trends["median_%s_time" % step]
                    ) }}
                {% endcall %}
                {% if timing_rows[step] %}
                    {% call table_section(
                        title="Top %d most variable projects" % len(timing_rows[step]),
                        help="Ma'at shows the top 10 projects with the most variable timing performance compared to a reference report. Projects are sorted by variance (highest first), then alphabetically. Only projects with at least 2 valid timing measurements are included. Variance is calculated using the reference report's timing as the expected value, measuring how much other timings deviate from this baseline."
                    ) %}
                        {% for row in timing_rows[step] %}
                            {{ timing_row(row) }}
                        {% endfor %}
                    {% endcall %}
                {% endif %}
                </tbody>
            </table>
        </details>
    {% endfor %}
    <details id="details-downloads">
        <summary class="font-bold">Downloads</summary>
        <table>
            {{ header() }}
            <tbody>
            {% call table_section("Data exports") %}
                {% for title, href_name in [
                    ('Ecosystem (CSV)', 'ecosystem_csv_href'),
                    ('Ecosystem (JSON)', 'ecosystem_json_href')
                ] %}
                    <tr>
                        <td>{{ title }}</td>
                        {% for rn in report_names %}
                            <td class="text-center">
                                <a href="{{ rn[href_name] }}">Download</a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endcall %}
            </tbody>
        </table>
    </details>
</main>
<footer>
    <a class="swm no-underline" href="https://swmansion.com/"
       rel="noopener noreferrer" target="_blank">
        <svg fill="none" height="20" viewBox="0 0 74 40" width="37"
             xmlns="http://www.w3.org/2000/svg">
            <title>Software Mansion</title>
            <g>
                <path class="fill-primary" clip-rule="evenodd" fill-rule="evenodd"
                      d="M11.9946 0.115234H12.3739H72.8476H73.7652L73.7631 1.03209L73.7025 27.4563L73.7016 27.8326L73.4361 28.0993L62.1541 39.4327L61.8857 39.7023H61.505H1.03123H0.115723V38.7876V12.3633V11.9844L0.383869 11.7165L11.7265 0.383161L11.9946 0.115234ZM12.7531 1.94475L3.24145 11.4486H61.1257L70.6374 1.94475H12.7531ZM71.927 3.24346L62.4205 12.7422V36.5707L71.8723 27.0759L71.927 3.24346ZM1.94674 37.8728V13.2781H60.5895V37.8728H1.94674Z"></path>
                <path class="fill-primary"
                      d="M16.6804 28.1822C16.6804 30.1822 15.4066 31.8792 12.1919 31.8792C10.7968 31.8792 9.70498 31.5762 8.67383 31.1519V28.4247C9.70498 28.9701 10.9787 29.2731 12.1312 29.2731C13.1624 29.2731 13.7083 28.9701 13.7083 28.364C13.7083 26.5459 8.67383 27.0913 8.67383 23.3337C8.67383 21.0307 10.5542 19.5762 13.1017 19.5762C14.1935 19.5762 15.164 19.8186 16.1951 20.4247V23.3337C14.8001 22.4853 13.8296 22.1822 13.041 22.1822C12.0705 22.1822 11.5853 22.5459 11.5853 23.0913C11.5853 24.8489 16.6804 24.1822 16.6804 28.1822Z"></path>
                <path class="fill-primary"
                      d="M36.7575 19.8789L32.9362 31.6365H30.0248L27.4166 23.5759L24.869 31.6365H21.9575L18.1362 19.8789H21.4116L23.5346 27.7577L26.0215 19.8789H28.933L31.4198 27.7577L33.5428 19.8789C33.5428 19.8789 36.7575 19.8789 36.7575 19.8789Z"></path>
                <path class="fill-primary"
                      d="M55.0149 23.8792V31.6368H52.1641V24.3641C52.1641 23.0913 51.2543 22.3641 50.2838 22.3641C49.2526 22.3641 48.4034 23.0913 48.4034 24.3641V31.6368H45.492V24.3641C45.492 23.0913 44.5821 22.3641 43.6116 22.3641C42.5805 22.3641 41.7313 23.0913 41.7313 24.3641V31.6368H38.8198V19.8792H41.5493V20.7277C42.3985 19.8792 43.3083 19.5762 44.4002 19.5762C45.6133 19.5762 46.7051 20.1216 47.4329 21.0913C48.4034 20.061 49.6165 19.5762 51.0116 19.5762C53.3165 19.6368 55.0149 21.3944 55.0149 23.8792Z"></path>
            </g>
        </svg>
    </a>
    <span>
        <span class="text-primary">
            &copy;
            <a href="https://swmansion.com/" class="text-primary"
               rel="noopener noreferrer" target="_blank">Software Mansion</a>
            2025.
        </span>
        All trademarks and copyrights belong to their respective owners.
    </span>
    <a href="https://github.com/software-mansion/maat"
       class="text-dim" rel="noopener noreferrer" target="_blank">Source code</a>
    <a href="https://github.com/software-mansion/maat/actions/workflows/experiment.yml"
       class="text-dim" rel="noopener noreferrer" target="_blank">Queue</a>
    <a href="https://github.com/software-mansion/maat/tree/main/docs"
       class="text-dim" rel="noopener noreferrer" target="_blank">Docs</a>
</footer>
</body>
</html>
