{% macro q(help) %}
    <abbr class="help" title="{{ help }}">?</abbr>
{% endmacro %}

{% macro bullet(category) %}
    <span class="{{ "bullet"|clsx(category) }}" title="{{ category }}">&#x2756;</span>
{% endmacro %}

{% macro header(first_column = "") %}
    <thead>
    <tr>
        <th>{{ first_column }}</th>
        {% for rn in report_names %}
            <th class="text-center">
                {% if rn.is_reference %}
                    <abbr class="help underline"
                          title="This is the reference report. All comparative cells in other columns are compared with respective cells from this column.">{{ rn.title }}</abbr>
                {% else %}
                    {{ rn.title }}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro table_section(title) %}
    <!-- region {{ title }} Section -->
    <tr class="section-header">
        <td>{{ title }}</td>
        <td colspan="{{ report_names|length }}"></td>
    </tr>
    {{ caller() }}
    <!-- endregion -->
{% endmacro %}

{% macro metrics_row(title, values) %}
    <tr>
        <td>{{ title }}</td>
        {% for value in values %}
            <td class="text-right">{{ caller(value) }}</td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro metrics_row_s(title, values) %}
    {% call(value) metrics_row(title, values) %}{{ value }}{% endcall %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>Ma'at</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="style.css">
    <script>
        function openAll() {
            document.querySelectorAll("details").forEach(d => {
                d.open = true;
            });
        }
    </script>
</head>
<body>
<header>
    <h1>Ma'at</h1>
    <div class="actions">
        <button onclick="openAll()">Open all</button>
    </div>
</header>
<main>
    <details open>
        <summary>Metrics</summary>
        <table>
            {{ header() }}
            <tbody>
            {% call table_section("Metadata") %}
                {{ metrics_row_s("Workspace", metrics.workspace) }}
                {{ metrics_row_s("Scarb Version", metrics.scarb_version) }}
                {{ metrics_row_s("Foundry Version", metrics.foundry_version) }}
                {{ metrics_row_s("Ma'at Commit", metrics.maat_commit) }}
                {% call(value) metrics_row("Created At", metrics.created_at) %}
                    {{ value|datetimeformat }}
                {% endcall %}
                {% call(value) metrics_row("Total Execution Time", metrics.total_execution_time) %}
                    {{ value|timedeltaformat }}
                {% endcall %}
                {{ metrics_row_s("Total Projects", metrics.total_projects) }}
            {% endcall %}
            {% call table_section("Timings") %}
                {% call(value) metrics_row("Avg. Build Time", metrics.avg_build_time) %}
                    {{ value|timedeltaformat }}
                {% endcall %}
                {% call(value) metrics_row("Avg. Lint Time", metrics.avg_lint_time) %}
                    {{ value|timedeltaformat }}
                {% endcall %}
                {% call(value) metrics_row("Avg. Test Time", metrics.avg_test_time) %}
                    {{ value|timedeltaformat }}
                {% endcall %}
            {% endcall %}
            </tbody>
        </table>
    </details>
    {% for label_group in label_groups %}
        <details class="{{ "color-coded"|clsx(label_group.category) }}">
            <summary>
                <abbr class="help bold"
                      title="{{ label_group.category.help }}">{{ label_group.category }}</abbr>
                ({{ label_group.count }},
                <abbr class="help"
                      title="Relative to total projects in reference column.">{{ (label_group.ratio * 100)|round(2) }}%</abbr>)
            </summary>
            <table>
                {{ header("Project") }}
                <tbody>
                {% for row in label_group.rows %}
                    <tr>
                        <td>{{ row.project }}</td>
                        {% for cell in row.cells %}
                            <td class="text-center">
                                {% if cell.missing and cell.logs_href %}
                                    <a href="{{ cell.logs.href }}">&mdash;</a>
                                {% elif cell.missing %}
                                    &mdash;
                                {% else %}
                                    {{ bullet(cell.category) }}
                                    <a href="{{ cell.logs_href }}">{{ cell.label }}</a>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}
</main>
</body>
</html>
