root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[{*.yaml,*.yml,*.js,*.jsx,*.ts,*.tsx,*.json,*.md,*.css,*.scss,*.html,*.vue,*.jsonc}]
indent_size = 2
