:root {
    --color-background: #FCFCFF;
    --color-background-alt: #F8F9FF;
    --color-text-primary: #001A72;
    --color-text-secondary: #33488E;
    --color-border: #C1C6E5;
    --color-primary: #33488E;
    --color-primary-light: #EEF0FF;

    --color-broken: #e12afb;
    --color-error: #fb2c36;
    --color-build-fail: #ff6900;
    --color-test-fail: #2b7fff;
    --color-test-pass: #00c950;
    --color-lint-fail: #79716b;

    --font-family-main: system-ui, sans-serif;
    --font-family-fancy: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    --font-family-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    --color-shadow: #001A7210;
    --box-shadow-md: 0 4px 6px -1px var(--color-shadow), 0 2px 4px -2px var(--color-shadow);
    --box-shadow-lg: 0 10px 15px -3px var(--color-shadow), 0 4px 6px -4px var(--color-shadow);

    --details-spacing: 2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #232736;
        --color-background-alt: #30354A;
        --color-text-primary: #C1C6E5;
        --color-text-secondary: #EEF0FF;
        --color-border: #444466;
        --color-primary: #4A5FA0;
        --color-primary-light: #1E2133;
        --color-shadow: #00000020;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-family-main), sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

h1 {
    font-family: var(--font-family-fancy), serif;
    font-size: 3em;
    font-weight: 200;
    text-align: center;
}

main {
    width: 100%;
    padding-bottom: var(--details-spacing); /* Extra spacing for shadows to fit. */
    overflow: auto;
}

.actions {
    max-width: 50em;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    gap: 1em;
}

details {
    --border-radius: 0.5em;

    margin: 0 auto var(--details-spacing) auto;
    width: fit-content;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-lg);
    overflow: hidden;

    & summary {
        cursor: pointer;
        background: var(--color-primary-light);
        padding: 0.4em 0.5em;
        position: relative;
        user-select: none;
        list-style: none;
        z-index: 1;

        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 2px ActiveText;
        }

        &::before {
            content: "▶ ";
            display: inline-block;
            margin-right: 0.5em;
        }
    }

    &.color-coded {
        border-color: var(--accent);

        & > summary::before {
            color: var(--accent);
        }
    }

    & > table {
        border-top: none;
    }

    &[open] > summary {
        border-bottom: 1px solid var(--color-border);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);

        &::before {
            content: "▼ ";
        }
    }

    &:not([open]) > summary {
        border-radius: var(--border-radius);
        min-width: calc(min(95vw, 50em));
    }
}

table {
    --cell-background: var(--color-background-alt);
    border-collapse: collapse;
    table-layout: fixed;

    & thead {
        --cell-background: var(--color-background);
        color: var(--color-text-secondary);
        position: sticky;
        top: 0;
        z-index: 2;
    }

    & tr:hover {
        --cell-background: var(--color-background);
    }

    & th, td {
        padding: 0.7em 0.8em;
        text-align: left;
        border-bottom: 1px solid var(--color-border);
        background: var(--cell-background);
        overflow: auto;
        min-width: 10em;
        max-width: 50em;
        width: auto;
    }

    & tr:last-child {
        & th, td {
            border-bottom: none;
        }
    }

    & tr > td:first-child {
        font-weight: bold;
        left: 0;
        position: sticky;
        text-wrap: nowrap;
        width: 0;
    }

    & thead > tr > th:first-child {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
    }

    & tr.section-header {
        --cell-background: var(--color-primary-light);
        font-weight: bold;
    }
}

.help {
    --color: color-mix(in oklab, var(--color-text-primary) 50%, transparent);

    cursor: help;
    text-decoration: none;

    &::after {
        content: '?';
        display: inline-block;
        position: relative;
        vertical-align: top;
        font-size: 0.7rem;
        text-align: center;
        color: var(--color);
        text-decoration: none;
        font-weight: normal;
    }

    &:hover {
        --color: var(--color-text-primary);
        text-decoration: underline dotted;
    }
}

.broken {
    --accent: var(--color-broken);
}

.error {
    --accent: var(--color-error);
}

.build-fail {
    --accent: var(--color-build-fail);
}

.test-fail {
    --accent: var(--color-test-fail);
}

.test-pass {
    --accent: var(--color-test-pass);
}

.lint-fail {
    --accent: var(--color-lint-fail);
}

.bullet {
    color: var(--accent);
    cursor: help;
    user-select: none;
    text-decoration: none;
    font-weight: normal;
}

.text-sm {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

pre, code {
    font-family: var(--font-family-mono), monospace;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

button, select {
    background: var(--color-background);
    color: var(--color-text-primary);
    border: 1px solid var(--color-border);
    border-radius: 0.375em;
    box-shadow: var(--box-shadow-md);
    padding: 0.5em 0.9em;
    font-family: inherit;
    font-size: 0.9em;
    cursor: pointer;

    &:hover {
        background: var(--color-background-alt);
        color: var(--color-text-secondary);
    }

    &:focus-visible {
        outline: 2px solid ActiveText;
        outline-offset: 2px;
    }

    &:active {
        transform: translateY(1px);
    }

    &:disabled {
        background: var(--color-border);
        border-color: var(--color-border);
        cursor: not-allowed;
        opacity: 0.7;
    }
}

select {
    appearance: base-select;
}
